.mui-table-view-li-cell {
	/*position: relative;*/
	overflow: hidden;
	padding: 11px 15px;
	float: left;
	position: relative;
	left: -60%;
	margin-right: 5px;
	/*-webkit-touch-callout: none*/
}

.font-color{
	color: #ddd;
}
